.edu-header {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;
}

.education-info {
    background-color: whitesmoke;
    border-left: 30px solid darkorange;
    border-right: 30px solid darkorange;
}

