.experience-info {
    background-color: whitesmoke;
    border-left: 30px solid darkorange;
    border-bottom-left-radius: 20px;
    border-right: 30px solid darkorange;
    border-bottom-right-radius: 20px;
}

.exp-step-edit {
    height: 30px;
    width: 100px;
    background-color: dodgerblue;
    border-radius: 10px;
}