ul {
    list-style: none;
    padding: 0;
}

li {
    white-space: break-spaces;
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
    padding-right: 30px;
    background-color: powderblue;
}

h2 {
    margin-left: 1vw;
    text-decoration: underline;
}

.step-content {
    display: flex;
    gap: 10px;
}

.experience-info {
    background-color: whitesmoke;
    border-left: 30px solid darkorange;
    border-bottom-left-radius: 20px;
    border-right: 30px solid darkorange;
    border-bottom-right-radius: 20px;
}

.exp-step-edit {
    height: 30px;
    width: 100px;
    background-color: dodgerblue;
    border-radius: 10px;
}