.info-header {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-top: 10px;
    align-items: center;
}

.data-edit {
    height: 30px;
    width: 100px;
    background-color: dodgerblue;
    border-radius: 10px;
}

.content {
    padding: 10px;
    display: flex;
    gap: 10px;
    white-space: break-spaces;
    background-color: powderblue;
    height: 20vh;
    border-bottom: 1px solid;
    align-items: center;
}

.values {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p {
    margin: 0;
}

.general-info {
    background-color: whitesmoke;
    border-left: 30px solid darkorange;
    border-top-left-radius: 20px;
    border-right: 30px solid darkorange;
    border-top-right-radius: 20px;
}